[Unit]
Description=Web Update Notifier Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/repos/web-update-notifier/notifier.py check
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
